body{
    background-color: darkgrey;
}
/*============================ 
        TEST BORDERS
==============================*/
.container{
    border: 2px solid red;
}
.hero{
    border: 2px solid yellow;
}
/* .row{
    border: 1px solid blue;
} */
.one-half{
    border: 2px solid blue;
}
/* .column{
    border: 2px solid green;
} */
/* ==================================== */
.nav{
    padding: 2rem 0;
}
ul{
display: flex;
}
li{
    margin-left: 1rem;
    list-style: none;
}
.right{
    width: 100%;
}
.right img{
    width: 100%;
}
.left{
    padding-top: 5rem;
}
.table{
    margin: 6rem 0;
}
@media(max-width:600px) {
    .left{
        text-align:center;
        padding-bottom: 3rem;
    }
}